# Gmail credentials for sending notifications
# Use an App Password, not your regular Gmail password.
# Generate one at: https://myaccount.google.com/apppasswords
GMAIL_USER=dsohum@gmail.com
GMAIL_APP_PASSWORD=nxkr gczd akca xthp


# Where to send the notifications (can be same as GMAIL_USER)
NOTIFY_EMAIL=dsohum@gmail.com 

# How often to poll Vinted in minutes (default: 5)
POLL_INTERVAL_MINUTES=5
